<%= form_for @photo do |f| %> 
 
  <%= f.label :title %>
  <%= f.text_field :title %>
 
  <%= f.label :image %>
  <%= f.hidden_field :image, value: @photo.cached_image_data %>
  <%= f.file_field :image %>
 
  <div>
  	<%= f.submit %>
  </div>
  
<% end %>