<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
	Content:
	<%= @post.content %>
</p>
<p>
	Images:
    <% @post.images.each do |i| %>
      <%= image_tag i %>
    <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
